RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)/(.*)/(.*)$ index.php?sayfa=$1&id=$2&baslik=$3 [L,QSA]
RewriteRule ^([0-9a-zA-Z-_/]+)$ index.php?sayfa=$1 [L]